doctype html
html(lang='en')
  head(role='header')
    title= helpers.formatMetaTitle(title, currentLocale.code)
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content=translate('metaDescription', currentLocale.code))
    meta(name='twitter:card' content=translate('metaTwitterCard', currentLocale.code))
    meta(property='og:title' content=helpers.formatMetaTitle(title, currentLocale.code))
    meta(property='og:type' content='article')
    meta(property='og:url' content=`http://contentful-example-app.herokuapp.com${currentPath}`)
    meta(property='og:image' content='http://contentful-example-app.herokuapp.com/og-image.jpg')
    meta(property='og:image:type' content='image/jpeg')
    meta(property='og:image:width' content='1200')
    meta(property='og:image:height' content='1200')
    meta(property='og:image:alt' content=translate('metaImageAlt', currentLocale.code))
    meta(property='og:description' content=translate('metaImageDescription', currentLocale.code))
    link(rel='apple-touch-icon' sizes='120x120' href='/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
    link(rel='manifest' href='/manifest.json')
    link(rel='mask-icon' href='/safari-pinned-tab.svg' color='#4a90e2')
    meta(name='theme-color' content='#ffffff')
  body
    main.main(role='main')
      .main__header
        header.header(role='banner')
          .header__upper-wrapper
            .header__upper.layout-centered
              .header__controls
                .header__controls_group
                  form(action='' method='get')
          .header__lower-wrapper
            .header__lower.layout-centered
              .header__logo
                .header__navigation.main-navigation(role='navigation')
      .main__content
        block content

      .main__footer
        .layout-centered
          footer.footer
            .footer__upper
              nav.footer__navigation.main-navigation(role='navigation')
              .footer__apps
                //- a(href='#')
                //-   img(src='/images/badge-app-store.svg')
                //- a(href='#')
                //-   img(src='/images/badge-google-play.svg')
            .footer__lower

  script(src='/scripts/index.js')

  if process.env.TRACKING
    include ./tracking.pug
